# Auto detect text files and perform LF normalization
* text=auto
*.js linguist-detectable=false
*.v linguist-detectable=true
*.tcl linguist-detectable=false
*.c linguist-detectable=false
*.sh linguist-detectable=false
